<!DOCTYPE html>
<html>
  <head>
    <title>Reteaua DMVPN</title>
  </head>
  <body>


  {% load static %} <img src="{% static "dmvpn/media/retea.png" %}" id="image1" usemap="#mapname" />
  <map name="mapname">
    <area shape="rect" coords="1296,271,1021,69" title="bucuresti" href="/dmvpn/bucuresti">
    <area shape="rect" coords="360,250,85,48" title="brasov" href="brasov.html">
    <area shape="rect" coords="325,543,138,338" title="cluj" href="cluj.html">
    <area shape="rect" coords="790,723,515,521" title="constanta" href="constanta.html">
  </map>


  </body>
</html>