<!DOCTYPE html>
<html>
  <head>
    <title>DMVPN Network</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        color: #333;
      }



      img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
      }

      area {
        outline: none;
      }

      area:hover {
        opacity: 0.8;
      }
    </style>
  </head>
  <body>

    <header class="bg-dark"  id="main-header">
    <div class="container">
      <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="https://upb.ro">
          {% load static %}<img src="{% static "dmvpn/media/upb.png" %}"  alt="ETTI LOGO" class="img-fluid" style="max-width: 100px; background-color: #343a40;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}" >HOME</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">CHANGE ACCOUNT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

    {% load static %}<img src="{% static "dmvpn/media/retea.png" %}" usemap="#mapname" alt="DMVPN network map" />
    <map name="mapname">
      <area shape="rect" coords="1296,271,1021,69" title="Bucuresti" href="/dmvpn/bucuresti">
      <area sthape="rect" coords="360,250,85,48" title="Brasov" href="/dmvpn/brasov">
      <area shape="rect" coords="325,543,138,338" title="Cluj" href="/dmvpn/cluj">
      <area shape="rect" coords="790,723,515,521" title="Constanta" href="/dmvpn/constanta">
    </map>
  </body>
</html>
